<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
</head>
<body>

    <h1>🏆 Leaderboard</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Vinay</td>
            <td>100</td>
        </tr>

        <tr>
            <td>2</td>
            <td>User2</td>
            <td>90</td>
        </tr>

        <tr>
            <td>3</td>
            <td>User3</td>
            <td>80</td>
        </tr>

    </table>

</body>
</html>