<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <a class="navbar-brand" href="/dashboard">
            🏆 Coding Contest
        </a>

        <div class="navbar-nav ms-auto">

            <a class="nav-link text-white" href="/dashboard">
                Dashboard
            </a>

            <a class="nav-link text-white" href="/contest">
                Contest
            </a>

            <a class="nav-link text-white" href="/leaderboard">
                Leaderboard
            </a>

            <a class="nav-link text-white" href="/history">
                History
            </a>

            <a class="nav-link text-white" href="/profile">
                Profile
            </a>

            <a class="nav-link text-white" href="/admin">
                Admin
            </a>

            <a class="nav-link text-white" href="/logout">
                Logout
            </a>

        </div>

    </div>
</nav>